 .u-section-1 {
  --border-color-var: #ffffff80;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 181px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-1 .u-line-1 {
  width: 100px;
  transform-origin: right center;
  --border-color-var: #4ad575;
  position: absolute;
  top: 336px;
  left: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 21px 108px 0 30px;
}

.u-section-1 .u-line-2 {
  width: 100px;
  transform-origin: right center 0px;
  --border-color-var: #4ad575;
  margin: 7px auto 0 30px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  letter-spacing: 0.2px;
  margin: 10px 30px 0;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  margin: -225px auto 0 30px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  --text-color-var: #4ad575;
}

.u-section-1 .u-text-3 {
  margin: 58px 30px 0;
}

.u-section-1 .u-icon-2 {
  --text-color-var: #4ad575;
  vertical-align: 0px;
  color: rgb(74, 213, 117) !important;
}

.u-section-1 .u-icon-3 {
  width: 16px;
  height: 16px;
  --text-color-var: #4ad575;
  margin: 66px auto 0 30px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 51px 30px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 23px;
  width: 23px;
  min-width: 72px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 10px auto 0 78px;
}

.u-section-1 .u-icon-4 {
  height: 32px;
  --text-color-var: #4ad575fa;
  color: rgba(74, 213, 117, 0.98) !important;
}

.u-section-1 .u-social-icons-2 {
  height: 23px;
  width: 23px;
  min-width: 72px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -23px auto 0 30px;
}

.u-section-1 .u-icon-5 {
  height: 23px;
  --text-color-var: #4ad575fa;
  color: rgba(74, 213, 117, 0.98) !important;
}

.u-section-1 .u-social-icons-3 {
  height: 23px;
  width: 23px;
  min-width: 72px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -23px auto 0 126px;
}

.u-section-1 .u-icon-6 {
  height: 23px;
  --text-color-var: #4ad575fa;
  color: rgba(74, 213, 117, 0.98) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 98px;
  margin: -447px 30px 60px 410px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 71px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 194px;
    margin-top: -187px;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.4) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.4) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-2,
.u-section-1 .u-social-icons-2:before,
.u-section-1 .u-social-icons-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2:hover {
  transform: scale(1.4) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2.hover {
  transform: scale(1.4) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-3,
.u-section-1 .u-social-icons-3:before,
.u-section-1 .u-social-icons-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3:hover {
  transform: scale(1.4) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3.hover {
  transform: scale(1.4) translateX(0px) translateY(0px) !important;
}